body {
  max-width: 1440px;
  margin: 0 auto !important;
}

ul {
 list-style-type: none;
}

.pastille {
  display: flex;
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
  background-color: $dark;
  justify-content: center;

  img {
    padding-top: 11px;
  }

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;

    img {
      padding-top: 5px;
    }
  }
}

.title {
  font-size: 24px;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
}

.visible {
  opacity: 1;
  transition: all 0.2s ease;
}

.invisible {
  opacity: 0;
  transition: all 0.2s ease;
}
