// SECTION GENERAL

.section-presentation,
.section-concept,
.section-collection,
.section-articles,
.section-logos {
  position: relative;
  text-align: center;
  border-top: 1px $gray-lighter solid;
}

.section-title {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
  color: $dark;
  font-size: 30px;
}

// SECTION - HEADER

#header {
  position: relative;
  height: 600px;
  background-color: $dark;

  h1, p {
    color: $white;
  }

  .header-logo {
    position: absolute;
    width: 110px;
    top: 12px;
    left: 10px;
  }

  .header-map {
    position: absolute;
    top: 20px;
    left: 9px;
    width: 100px;
    display: flex;
  }

  .header-tampon {
    position: absolute;
    width: 165px;
    right: 0;
    opacity: 0.6;
  }

  .header-image {
    float: right;
    right: 2%;
    margin-top: 10%;
    max-width: 400px;

    @media (max-width: 435px){
      float: none;
      margin-top: 60%;
      max-width: 290px;
    }
  }

  .header-text {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    @media (max-width:767px){ top: 45%; }

    .header-title {
      font-size: 5.5rem;
      @media (max-width:767px){ font-size: 4.5rem; }
      @media (max-width:480px){ font-size: 4rem; }
    }

    .header-subtitle {
      margin-top: 1em;
      font-size: 2.5rem;
      font-weight: 200;
    }
  }

  a .play {
    height: 60px;
    transform: translateY(80px);
  }
}

@keyframes pulsed {
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

.pulsed {
  animation-name: pulsed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

// SECTION - PRÉSENTATION

.section-presentation {
  background-color: $brown-lighter;
}

.presentation {
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    flex-direction: column;
  }

  .presentation-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    @media (max-width: 767px) {
      width: 100%;
      height: 100%
    }

    @media (max-width: 320px) {
      margin-top: 40px;
    }

    .front-door {
      width: auto;
      height: auto;
      max-width: 530px;
      max-height: 530px;

      @media (max-width: 320px) {
        max-width: 320px;
      }
    }
  }

  .presentation-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    padding: 30px;
    margin-bottom: 40px;
    color: $white;

    .presentation-subtitle {
      margin-bottom: 35px;
      font-weight: 100;
    }

    p {
      font-weight: 200;
    }
  }
}

.door-carousel {
  position: absolute;
  width: 100%;
  top: 60%;
  transform: translateY(-50%);
  left: 0;

  @media (max-width: 767px) {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.mineral-card {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
  box-sizing: border-box;
  transition: all 0.2s ease;

  img {
    position: relative;
    max-height: 70%;
    max-width: 70%;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
  }
}

// SECTION - CONCEPT

.section-concept {
  color: $white;
  padding-bottom: 60px;

  img { max-height: 100px; }
  p, h3 { color: $dark;  }
  p {
    margin: 20px 0;
    padding: 0 20px;
    font-weight: 200;
  }

  &.background-yellow { background-color: $yellow-orange; }
  &.background-turquoise { background-color: $turquoise; }
  &.background-green { background-color: $green-green; }
}

.concept-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.concept-block-item {
  width: 30%;
  margin: 1%;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.button-home-projet {
  display: flex;
  width: 120px;
}

// SECTION - COLLECTION

.section-collection {
  background-color: $dark;

  .section-title {
    color: $white;
  }

  p {
    padding-left: 6px;
    padding-right: 6px;
  }

  .row {
    margin: 0;
  }

  .mineral-card {
    position: relative;
    margin-left: 24px;
    width: 85%;
    height: 220px;

    color: white;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.2s ease;

    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100%;
      max-width: 100%;
      background-color: $dark;
    }

    .box-shadow {
      position: absolute;
      height: 220px;
      top: 190px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(15,15,15,0.7);
      @include transition(all 0.5s ease-in-out);

     p {
        color: $white;
        font-size: 12px;
        font-weight: 100;
        line-height: 0.8em;

        &.mineral-name {
          font-size: 14px;
          padding-top: 10px;
        }

        &.mineral-size {
          font-size: 12px;
          margin-top: 20px;
        }

        &.mineral-origin {
          font-weight: 400;
        }
      }
    }

    &:hover{
      .box-shadow {
        background-color: rgba(15,15,15,0.5);
        @include transform(translateY(-60px));
      }
      // img { @include transform(scale(1.1)); }
    }
  }

  .carousel {
    max-width: 100%;
    margin-bottom: 80px !important;

    .slick-list {
      margin-bottom: 30px;
    }

    .slick-dots li button:before {
      color: $white;
    }
  }
}

// SECTION - ARTICLES

.section-articles {
  background: $white-lighter;
  color: $dark;
  padding-right: 25px;
  padding-bottom: 60px;

  @media (min-width: 768px) {
    .container {
      max-width: 750px;
    }
  }

  h2 {
    color: $orange
  }

  .articles-block {
    margin-bottom: 80px;
    color: $dark;
  }

  .article-card {
    position: relative;
    display: flex;
    flex-direction: colunm;
    height: 400px;
    width: 275px;
    margin-bottom: 40px;
    background: $white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  h3 {
    position: absolute;
    padding: 3px 10px;
    margin-top: 7px;
    font-style: 14px;
    text-align: left;

    &:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      top: 36px;
      left: 10px;
      background-color: $orange;
    }
  }

  .article-picture {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    right: 5px;
    background-color: $orange;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: $white 1px solid;
  }

  .article-date {
    position: absolute;
    display: flex;
    top: 50px;
    padding: 0 10px;
  }

  .article-text {
    position: absolute;
    display: flex;
    top: 100px;
    padding: 0 10px;
  }

  ul.timeline {
    padding: 0;
    margin-left: 90px;
    padding-top: 20px;

    li {
      position: relative;
      list-style-type: none;
      padding: 1em;
      margin: 0;
      transition: background-color 0.5s;
      overflow: visible;
      border-left: 1px solid $white;
    }

    li .timeline-date {
        display: inline-block;
        float: left;
        margin-left: -100px;
        width: 55px;
        font-size: 13px;
        font-weight: 600px;
        text-align: right;
    }

    li .timeline-icon {
        display: inline-block;
        float: left;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border: 2px solid $white;
        border-radius: 50%;
        margin-left: -27px;
        background: $white;
    }

    li .timeline-content {
        text-align: left;
        background: $white;
        margin-left: 15px;
        padding: 10px;
        font-size: 14px;

        @media (max-width: 667px) {
          min-height: 90px;
        }

        @media (max-width: 320px) {
          height: 137px;
        }
    }

    li .timeline-logo {
      position: absolute;
      width: auto;
      height: auto;
      max-width: 50px;
      max-height: 50px;
      right: 22px;
      bottom: 5px;
      padding: 2px;
      background: $white;
      transform: rotate(-15deg);
      box-shadow: 0 1px 2px rgba(0,0,0,0.2);

      @media (max-width: 320px) {
        right: 5px;
      }
    }
  }
}

// SECTION - LOGOS

.section-logos {
  background-color: $gray-darker;

  h2 {
    color: $white;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    width: 100%;
    min-height: 150px;

    .logos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 55px;
      width: 100%;

      a {
        margin: 5%;
      }

      img {
        max-height: 60px;
        height: 80%;

        @media (max-width: 320px) {
          width: 50%;
          margin-bottom: 15px;
        }

        &.cd11 {
          transform: scale(.8);
        }
      }
    }
  }
}
