// SECTION GENERAL

.section-presentation,
.section-concept,
.section-collection,
.section-articles,
.section-logos {
  position: relative;
  text-align: center;
  border-top: 1px $gray-lighter solid;
}

.section-title {
  position: relative;
  margin-top: 80px;
  margin-bottom: 50px;
  color: $dark;
  text-transform: uppercase;
  font-size: 30px;
}

// SECTION - HEADER

#header {
  position: relative;
  height: 600px;
  background-color: $dark;

  h1, p {
    color: $white;
  }

  p {
    text-transform: uppercase;
  }

  .header-logo {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .header-map {
    position: absolute;
    top: 20px;
    left: 9px;
    width: 100px;
    display: flex;
  }

  .header-tampon {
    position: absolute;
    width: 165px;
    right: 0;
    opacity: 0.4;
  }

  .header-image {
    float: right;
    right: 2%;
    margin-top: 10%;
    max-width: 400px;

    @media only screen and (max-width:435px){
      float: none;
      margin-top: 49%;
      max-width: 290px;
    }
  }

  .header-text {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;

    .header-title {
      font-size: 5.5rem;
      @media only screen and (max-width:768px){ font-size: 4.5rem; }
      @media only screen and (max-width:480px){ font-size: 4rem; }
    }

    .header-subtitle {
      margin: 1em 0 2em;
      font-size: 2rem;
      font-weight: 100;
    }
  }

  a .play {
    height: 60px;
    transform: translateY(150px);
  }
}

@keyframes pulsed {
  // 0% {transform: scale(1);}
  // 50% {transform: scale(1.1);}
  // 100% {transform: scale(1);}
  0% {opacity: 0.5;}
  50% {opacity: 0.8;}
  100% {opacity: 0.5;}
}

.pulsed {
  animation-name: pulsed;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

// SECTION - PRÉSENTATION

.section-presentation {
  background-color: $brown-lighter;

  .presentation-image {
    position: absolute;
    top: -75px;
    left: 0;
    max-height: 700px;
    max-width: 85%;

    @media only screen and (max-width:375px) {
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(30%);
    }

    @media only screen and (max-width:375px) {
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(30%);
    }

    @media only screen and (max-width:321px) {
      transform: translateX(-50%) translateY(40%);
    }
  }

  .presentation-block {
    margin: 50px 0 80px 0;
    color: $white;

    .subtitle {
      margin-bottom: 35px;
    }
  }
}

// SECTION - CONCEPT

.section-concept {
  color: $white;

  img { max-height: 100px; }
  p, h3 { color: $dark; }
  p { margin: 20px 0; }

  &.background-yellow { background-color: $yellow-orange; }
  &.background-turquoise { background-color: $turquoise; }
  &.background-green { background-color: $green-green; }
}

.concept-block {
  margin-bottom: 80px;
}

// SECTION - COLLECTION

.section-collection {
  background-color: $dark;

  .section-title {
    color: $white;
  }

  p {
    padding-left: 6px;
    padding-right: 6px;
  }

  .row {
    margin: 0;
  }

  .mineral-card {
    position: relative;
    margin-left: 24px;
    width: 85%;
    height: 220px;

    color: white;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.2s ease;

    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100%;
      max-width: 100%;
      background-color: $dark;
      // @include transition(all 0.2s ease-in-out);
    }

    .box-shadow {
      position: absolute;
      height: 220px;
      top: 190px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(15,15,15,0.7);
      @include transition(all 0.5s ease-in-out);

     p {
        color: $white;
        font-size: 12px;
        font-weight: 100;
        line-height: 0.8em;

        &.mineral-name {
          font-size: 14px;
          padding-top: 10px;
        }

        &.mineral-size {
          font-size: 12px;
          margin-top: 20px;
        }

        &.mineral-origin {
          font-weight: 400;
        }
      }
    }

    &:hover{
      .box-shadow {
        background-color: rgba(15,15,15,0.5);
        @include transform(translateY(-60px));
      }
      // img { @include transform(scale(1.1)); }
    }
  }

  .carrousel {
    max-width: 100%;
    margin-bottom: 80px !important;

    .slick-list {
      margin-bottom: 30px;
    }

    .slick-dots li button:before {
      color: $white;
    }
  }
}

// SECTION - ARTICLES

.section-articles {
  color: $white-lighter;

  h2 {
    color: $orange
  }

  .articles-block {
    margin-bottom: 80px;
    color: $dark;
  }

  .article-card {
    position: relative;
    display: flex;
    flex-direction: colunm;
    height: 400px;
    width: 275px;
    margin-bottom: 40px;
    background: $white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  h3 {
    position: absolute;
    padding: 3px 10px;
    margin-top: 7px;
    font-style: 14px;
    text-align: left;

    &:after {
      content: "";
      position: absolute;
      width: 40px;
      height: 3px;
      top: 36px;
      left: 10px;
      background-color: $orange;
    }
  }

  .article-picture {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    right: 5px;
    background-color: $orange;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: $white 1px solid;
  }

  .article-date {
    position: absolute;
    display: flex;
    top: 50px;
    padding: 0 10px;
  }

  .article-text {
    position: absolute;
    display: flex;
    top: 100px;
    padding: 0 10px;
  }
}

// SECTION - ARTICLES

.section-logos {
  background-color: $gray-darker;

  h2 {
    color: $white;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
    width: 100%;
    min-height: 150px;

    .logos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 55px;
      width: 100%;

      img {
        width: 80%;

        @media (max-width: 320px) {
          width: 50%;
          margin-bottom: 15px;
        }
      }
    }
  }
}

