<div id="modal-container">
  <div class="modal-background">
    <div  id="btn-close-modal" class="close-animatedModal">
      <%= image_tag 'icons/close.svg' %>
    </div>
    <div class="modal">
      <%= video_tag "PjtMMC-ActeursAnimation201700213.mp4", :size => "560x315", :controls => true %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    $('.button-home-acteurs, .button-footer-acteurs').click(function(){
      var buttonId = $(this).attr('id');
      $('#modal-container').removeAttr('class').addClass(buttonId);
      $('body').addClass('modal-active');
    })

    $('#modal-container').click(function(){
      $(this).addClass('out');
      $('body').removeClass('modal-active');
    });

  </script>
<% end %>

