<div id="modal-container-projet">
  <div class="modal-background">
    <div class="close-animatedModal">
      <%= image_tag 'icons/close.svg' %>
    </div>
    <div class="modal">
      <%= video_tag "PjtMMC-ProjetAnimation20170317.mp4", size: "560x315", controls: true %>
    </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>

    $('.button-home-projet, .button-footer-projet').click(function(){
      var buttonId = $(this).attr('id');
      $('#modal-container-projet').removeAttr('class').addClass(buttonId);
      $('body').addClass('modal-active');
    })

    $('#modal-container-projet').click(function(){
      $(this).addClass('out');
      $('body').removeClass('modal-active');
    });

  </script>
<% end %>

