<div class="newsletter">
  <div id="mc_embed_signup">
    <form action="//ladidi.us12.list-manage.com/subscribe/post?u=3183624c9105f81502ca2a626&amp;id=fb02961dd8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <input type="email" placeholder="Votre email" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f659a3a9f99613ccc2cc33db_33859b0a30" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</div>
