<%= render 'shared/navbar' %>

<section class="section-contact">
  <div class="contact-description">
    <div class="side-description">
     <h2 class='title'>Nous contacter</h2>
        <div class="address">
          <h3 class="sub-title">Adresse</h3>
          <p>2, rue de l’Hôpital<br>11230 Chalabre</p>
          <p>+33 000 00 00 00</p>
          </div>
          <div class="member">
            <h3 class="sub-title">Directeur de projets</h3>
            <p>Patrice Gastineau<br>patrice.gastinueau@wanadoo.com</p>
            <p>+33 000 00 00 00</p>
          </div>
        </div>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>
