<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<%= render 'shared/navbar' %>

<section class="section-contact">
  <div class="contact-description">
    <div class="side-description">
     <h2 class='title'>Nous contacter</h2>
        <div class="address">
          <h3 class="subtitle">Maison de la Minéralogie de Chalabre</h3>
          <p>2, rue de l’Hôpital<br>11230 Chalabre</p>
          <a href="mailto: contact@maisonmineralogie.com" class="link-mailto" target="_blank">
            <i class="fa fa-envelope icon-circle"></i><span>contact@maisonmineralogie.com</span>
          </a>
        </div>
        <div class="address">
          <h3 class="subtitle">Mairie de Chalabre</h3>
          <p>1, cours Sully<br>11230 Chalabre</p>
        </div>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>
