<%= render 'shared/navbar' %>

<section class="section-text section-contact">
  <div class="side-description">
    <div class="description-content">
     <h2>Nous contacter</h2>
        <div class="adresse">
          <h3>Adresse</h3>
          <p>2, rue de l’Hôpital<br>11230 Chalabre</p>
        </div>
        <div class="members">
          <div class="member">
            <h3>Collection Freddy Marty</h3>
            <p><br>+33 000 00 00 00</p>
          </div>
          <div class="member">
            <h3>Directeur des projets</h3>
            <p>Patrice Gastineau<br>patrice.gastinueau@wanadoo.com<br>+33 000 00 00 00</p>
          </div>
        </div>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>
