<% content_for :meta_title %>
<% content_for :meta_description %>
<% content_for :meta_image %>

<%= render 'shared/navbar' %>

<section class="section-mentions-legales">
  <div class="contact-description">
    <div class="side-description">
      <h2 class='title'>Mentions légales</h2>
      <p>Le site maisonmineralogie.com est proposé par le Fonds de Dotation Maison de la Minéralogie de Chalabre.</p>
      <p>Siège social : 1, rue de l’Hôpital 11230 Chalabre</p>
      <p>Directeurs de la publication : Patrice Gastineau</p>
      <p>Hébergeur : OVH, 2 rue Kellermann 59100 Roubaix.</p>
      <p>Crédit photos : © Freddy Marty</p>

      <p>L'ensemble du Site est soumis à la réglementation applicable aux droits d'auteur et à la propriété intellectuelle.
        Tous les droits de reproduction sont réservés, y compris les représentations iconographiques et photographiques.
        Les photographies, visuels et illustrations diffusés sur le Site ne peuvent en aucun cas être téléchargés, copiés ou faire l’objet d’une autre utilisation.
        La reproduction de tout ou partie du Site sur un support quel qu'il soit, fait l'objet d'un autorisation par courriel à <a href="mailto: contact@maisonmineralogie.com" class="link-mailto" target="_blank">contact@maisonmineralogie.com</a>.
      </p>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>
