.button {
  cursor: pointer;
  display: inline-table;
  margin-left: 50%;
  transform: translateX(-50%);
}

.button-white {
  color: $white;
  border: 1px solid $white;
  background-color: transparent;
  border-radius: 3px;
  padding: 10px 25px;
  margin-top: 30px;

  &:hover {
    background-color: $white;
  }
}

.button-hover-brown-lighter:hover {
   color: $brown-lighter;
}

.button-hover-background-yellow:hover {
  color: $yellow-orange;
}

.button-hover-background-turquoise:hover {
  color: $turquoise;
}

.button-hover-background-green:hover {
  color: $green-green;
}

